@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 49px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 25px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 19px;
}

p {
  font-size: 18px;
  color: #3f3f3f;
  margin: 15px 0 20px 0;
}




.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: rgba(163, 157, 154, 0.685);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: floralwhite;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid floralwhite;
  outline: none;
  transition: 0.2s;
}


body {
  width: 100%;
}




/* custom art work */
#customart {
  display: flex;
  padding-top: 20px;
  background-color: rgb(245, 245, 245);
}

#customart .custom-details {
  width: 50%;
  padding-top: 30px;
}

#customart .custom-details h4{
  padding: 40px 0 20px 0;
}

#customart .custom-details h2{
  font-size: 26px;
}

#customart .custom-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#customart .custom-details input {
  width: 40px;
  height: 28px;
  padding-left: 6px;
  font-size: 18px;
  margin-right: 15px;
}

#customart .custom-details .norm {
  font-size: 14px;
    font-weight: 600;
    padding: 10px 10px;
    color: rgba(77, 75, 75, 0.88);
    background-color: rgb(221, 148, 255);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#customart .custom-details .norm:hover{
  transform: all 0.3s ;
  color: rgb(255, 255, 255);
  background-color: rgba(137, 43, 226, 0.784);
  font-size: 14.3px;
  box-shadow: 3px 7px 10px rgba(137, 43, 226, 0.67);
}

#customart .custom-details span{
  line-height: 25px;
}

#customart .custom { 
  width: 40%;
  margin-right: 50px;
}

.sml-img-group {
  display: flex;
  justify-content: space-between;
}
.sml-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/*custom artwork responsive*/

@media (max-width: 477px) {
  #customart {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
  }
  #customart .custom {
    width: 100%;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  h6 {
    font-weight: 600;
    font-size: 12px;
  }
  #customart .custom-details {
    width: 100%;
    padding-top: 30px;
  }
  #customart .custom-details h4 {
    padding: 18px 0 5px 0;
  }
  h4 {
    font-size: 25px;
  }
  #customart .custom-details h2 {
    font-size: 18px;
  }
  h2 {
    font-size: 49px;
    line-height: 20px;
  }
  #customart .custom-details .norm {
    font-size: 18px;
    padding: 8px 8px;
    border-radius: 5px;
    border: blueviolet;
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .section-p1 {
    padding: 40px 20px;
  }
  p {
    margin: 5px 0 0 0;
  }
  #product1 .pro-container {
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

/*artowork responsive*/
@media (max-width: 477px) {
  .section-p1 {
  padding: 10px 15px;
  }
}

/* about us page */

#about {
  background-color: rgb(240, 239, 239);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#about h1{
  font-family: "Saira Condensed" ;
  font-weight: 800;
  font-size: 70px;
  padding-bottom: 0 5px;
  color: rgb(0, 0, 0);
}
#about h2 {
  font-family: "Rajdhani" ;
  font-size: 80px;
  padding-bottom: 0 15px;
  color: blueviolet;
}
#about h4 {
  font-family: "Rajdhani";
  font-weight: 700;
  font-stretch: semi-expanded;
  padding-bottom: 0 15px;
  color: rgb(37, 37, 37);
}
#about p {
  font-family: "Rajdhani";
  font-weight: 600;
}

/*about us page responsive*/
@media (max-width: 477px) {
  #about {
    height: 100%;
    width: 100%;
  }
  #about h2 {
    font-size: 30px;
    line-height: 28px;
  }
  #about h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 40px;
  }
}